@model Player 

<h2>Creating Players..</h2>
@using  (Html.BeginForm())
{
    <table>
        <thead>
            <th>@Html.DisplayNameFor(p=>p. Name)</th>
            <th>@Html.EditorFor()</th>
        </thead>
    </table>
}